
$background: #1a1a1a;
$lightBackground: #2f2f2f;
$darkBackground: #141414;

$foreground: #7a7a7a;
$strongForeground: #cfcfcf;
$linkForeground: #1487d4;
$linkHoverForeground: #93d4ff;

$highlightColor: $strongForeground;
$highlightShadow: $highlightColor;

$bannerForeground: #ffffff;
$bannerTextShadow: $background;

$openBackground: #5ed45e;
$closedBackground: #ff7171;
$openClosedForeground: $darkBackground;

$infoBackground: $darkBackground;
$infoHeaderForeground: $linkForeground;
$infoLinkForeground: $strongForeground;
$infoLinkHoverForeground: $linkHoverForeground;
